:root {
    --black: #222831;
    --white: #DDDDDD;
    --green: #346751;
    --red: #F05454;
    --orange: #925E53;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--black)
}

canvas {
    display: block;
    margin: 1rem;
}
