:root {
  --black: #222831;
  --white: #DDDDDD;
}


html, body {
  margin: 0;
  padding: 0;
  background-color: var(--black)
}

canvas {
  display: block;
  background-color: var(--white)
}

#main-container {
  display: flex;
  justify-content: center;
}

#secondary-container {
  display: flex;
  justify-content: center;
}
