#main-container {
    top: 100px;
    margin: 128px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: var(--white);
    font-size: 32px;
    font-family: "Encode Sans SC", serif;
}

#easy, #medium, #hard {
    cursor: pointer;
}

#easy {
    color: var(--green);
}

#medium {
    color: var(--orange);
}

#hard {
    color: var(--red);
}




