#main-container {
    top: 100px;
    margin: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 32px;
    font-family: "Encode Sans SC", serif;
}

#toggle-ai {
    color: var(--green);
    cursor: pointer;
}

#secondary-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
