

#main-container {
    font-variant-numeric: tabular-nums;
    margin: 64px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: var(--white);
    font-size: 64px;
    font-family: "Encode Sans SC", serif;
}

span {
    display: flex;
    justify-content: center;
    width: 50px;

}

#less, #more {
    cursor: pointer;
}

#more {
    color: var(--green);
}

#less {
    color: var(--red);
}

